.wrapper2 {
    width: 75vw;
    margin: auto;
    padding: 50px;
    display: flex;
    flex-direction: row;
}

.invalid {
    color: red;
    display: block;
    margin: auto;
    padding-top: 10px;
}