.back {
    background-color:#BBBBBB;
    font-family: 'Poppins', sans-serif;
 }


input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;

}

.price_box{
    background-color: white;


    height: 45vh;

    margin-top: 30px;
    text-align: center;

}



.price_collection{
    background-color: #DCFFFF;

    height: 28vh;
    margin:auto;

    margin-top: 5px;
    text-align: center;
}


.round_button {
  display:block;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  border: 1px;}

article {
  width: 80%;
  margin: auto;
  margin-top: 10px;
}

.button_trans{
  position: absolute;
  top: 22%;
  left: 88%;
 
  background-color: #555;
  color: white;
  
  border-radius: 5px;
}

.price_info{
   background-color: burlywood;
   width: 30vh;
    height: 14vh;
    
   
}
