/* NAVBAR */
nav {
  padding: 10px !important;
}

.bi-house-heart::before {
  font-size: 2rem;
}

.bi-record-fill::before {
  font-size: 15px;
  padding-right: 10px;
}

#notif-general {
  color: skyblue;
}

#notif-cancel {
  color: red;
}

#notif-approve {
  color:lightgreen;
}

.notif-text {
  display: block;
}

.badge {
  color: grey !important;
  padding-bottom: 2px;
  padding-left: 0px;
}


/* INDEX.HTML */

.input-group {
  width: 75vw;
  margin: auto;
  padding: 50px;
}

input[type=date] {
  border: 1px solid #dee2e6;
  padding: 5px;
}

.modal-title {
  margin: auto;
}

input[type=range] {
  width: 90%;
  margin: auto;
  display: block;
  accent-color: grey;
}

.filter-button {
  margin: auto;
  display: block;
  width: 40vw;
}

.modal-category {
  margin: auto;
  display: block;
  padding-bottom: 25px;
  text-align: center;
}

.price-input {
  padding-top: 10px;
}

.form-group {
  padding-bottom: 20px;
}

.form-group-button {
  padding: 0px 10px;
}

.amenities-title {
  padding-bottom: 20px;
  padding-top: 30px;
}

/* search_results.html */

.property-info-container {
  padding: 20px 30px;
}

.results-card {
  padding: 10px;
}

.results-row {
  padding: 20px 20px 0px 20px;
}

.line-left-align {
  text-align: left;
}

.line-right-align {
  float: right
}

.card-center {
  width: 100%;
  margin: auto;
}

/* property_info.html */

.property-carousel-images {
  width: 50vw;
  margin: auto;
  display: block;
  padding: 10px;
}

.rowliner {
  border: 1px solid blue;
}

.guest-container {
  width: 100%;
}

.end-input {
  float: end;
}

.submit-form-btn {
  padding-top: 10px;
}

.card-left-align {
  text-align: left;
}

.card-right-align {
  float: right;
}

.property-card-title {
  padding-bottom: 10px;
}

@media only screen and (max-width: 992px) {
  .card-right-align {
    float: initial;
    display: block;
  }
}

.reply-btn {
  padding-left: 0px;
}
